@font-face {
  font-family: 'RF Dewi';
  src: local('RF Dewi Expanded Black'), local('RF-Dewi-Expanded-Black'),
       url('../../fonts/RFDewiExpanded-Bold.woff2') format('woff2'),
       url('../../fonts/RFDewiExpanded-Black.woff') format('woff'),
       url('../../fonts/RFDewiExpanded-Black.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  // font-display: swap;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 60px;
  background-color: #fff;
  box-shadow: 0px 1px 0px #E3E8F0;
  position: relative;
  z-index: 2;

  .header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
    .logo {
      padding-left: 24px;
      padding-right: 8px;
    }

    .logo_title {
      padding-left: 7px;
      border-left: 1px solid #E3E8F0;
      font-size: 12px;
      // font-family: 'RFDewiExpanded-Black', sans-serif;
    }
  }

  .header_items {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .count {
      position: relative;

      .count_icon {
        position: absolute;
        top: 6px;
        right: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 12px;
        height: 12px;
        color: #fff;
        font-size: 10px;
        border-radius: 90px;
        background-color: #FF4242;
      }
    }

    .user_info {
      color: rgba($color: #000000, $alpha: .7);

      > h4 {
        margin: 0;
      }
      > p {
        margin: 4px 0 0;
        text-align: right;
      }
    }

    .download {
      cursor: pointer;
      height: 40px;
      background-color: #F5F7FA;
      border-radius: 90px;
      display: flex;
      margin: 0 10px;
      padding: 9px 18px;

      > svg path {
        fill: #9FA8B4;
      }

      .icon_text {
        margin-left: 16px;
        color: rgba($color: #000000, $alpha: .7);
      }
    }
    
    .circle {
      cursor: pointer;
      width: 40px;
      height: 40px;
      background-color: #F5F7FA;
      border-radius: 90px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 10px;

      .gray_icon path {
        fill: #9FA8B4;
      }
    }

    .avatar {
      background-color: #F7B500;
    }
  }
}