@font-face {
  font-family: 'RFDewiExpanded-Black', sans-serif;
  src: local('RFDewiExpanded-Black') url('./assets//fonts//RFDewiExpanded-Black.woff2') format('woff2'),
       local('RFDewiExpanded-Black') url('./assets/fonts//RFDewiExpanded-Black.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
